/* *, *::before, *::after {
    box-sizing: border-box;
} */

.calc-container {
    margin: auto;
    width: 300px;
    display: block;
    background-color: grey;
    padding: 25px;
    border-radius: 23px;
    border: solid;
    border-color: #656565;
}

.calc-display-total {
    background-color: rgb(73, 73, 73);
    padding: 0 15px;
    font-size: 27px;
    height: 30px;
    color: lightgrey;
}

.calc-display {
    font-family: 'VT323', monospace;
    color: #676666;
    background-color: white;
    padding: 1px 15px 17px;
    margin: 0 auto 20px;
    font-size: 61px;
    height: 46px;
}

.calc-row {
    display: flex;
}

.button {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    width: 100px;
    height: 75px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 3px;
    margin: -1.5px;
    border-color: rgb(140, 175, 185);
    color: rgb(71, 100, 109);
}

.op {
    color: rgb(97, 129, 139);
}

.button:hover {
    background-color: rgb(188, 228, 241);
    cursor: pointer;
}