/* *, *::before, *::after {
    box-sizing: border-box;
} */

.calc-container {
    margin: auto;
    width: 300px;
    display: block;
    background-color: grey;
    padding: 25px;
    border-radius: 23px;
}
.calc-display-total {

    background-color: rgb(73, 73, 73);
    padding: 0 15px;
    font-size: 27px;
    height: 30px;
    color: lightgrey;
}

.calc-display {


background-color: white;
padding: 8px 15px;
margin: 0 auto 20px;
font-size: 42px;
height: 46px;
}

.calc-row {
    display: flex;
}

.button {
    font-size: 50px;
    width: 100px;
    height: 75px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid;
    border-width: 3px;
    margin: -1.5px;
}

.button:hover {

opacity: .75;
cursor: pointer;

}